
#dingdong-button {
	display: block !important;
	position: fixed;
	cursor: pointer;
	width: auto;
	border: 0;
	font-size: 14px;
	background: #2C2C2C;
	color: #FFFFFF;
	margin: 0;
	z-index: 99998;
	right: 0;
	top: 100px;
	bottom: auto;
	padding: 5px 11px 5px 12px;
	opacity: 0.96;
	-webkit-border-radius: 2px 3px 0 0;
	   -moz-border-radius: 2px 3px 0 0;
			border-radius: 2px 3px 0 0;
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
	-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
}

#dingdong {
	position: fixed;
	z-index: 99999;
	top: 0; bottom: 0;
	left: 0; right: 0;
	display: none;
	padding: 10px;

	/* overflow for really small screens */
	overflow: auto;

	/* customize overlay background here */
	background: rgba(255,255,255,0.8);
}

#dingdong-box {
	position: relative;
	max-width: 500px;
	margin: 75px auto 15px auto;

	/* so that content gets "rounded" by border */
	overflow: hidden;

	/* customize box look here */
	border-radius: 5px;
	background: white;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.5);
}

#dingdong-close {
	position: absolute;
	top: 5px;
	right: 7px;
	padding: 3px;

	/* customize x button here */
	color: #aaa;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}

#dingdong-form {
	padding: 0;
	margin: 0;
	border: 0;
}

#dingdong-form {
	font-family: sans-serif;
	font-size: 20px;
}

#dingdong-form textarea,
#dingdong-form button,
#dingdong-form input[type="text"],
#dingdong-form input[type="email"],
#dingdong-form label {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: 0;
	padding: 20px;
	display: block;
	box-sizing: border-box;
}

#dingdong-form label {
	cursor: pointer;
}

#dingdong-form input[type="checkbox"] {
	position: relative;
	top: 2px;
	float: right;
}

#dingdong-form textarea,
#dingdong-form input[type="email"],
#dingdong-form button {
	width: 100%;
}

#dingdong-form .dingdong-row + .dingdong-row {
	border-top: solid 1px #ddd;
}

#dingdong-form textarea {
	overflow: auto;

	/* prevent resizing width */
	min-width: 100%;
	max-width: 100%;
}

#dingdong-submit {
	background: #f79d07;
	color: white;
	cursor: pointer;
}
